* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: black;
}

.hedder h1 {
    font-size: 3.125rem;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.linka {
    display: flex;
    justify-content: center;
}

.linka a {
    color: aquamarine;
    font-size: 1rem;
}