* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: black;
}

h1 {
    font-size: 3.125rem;
    color: white;
    font-weight: normal;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.linka {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.linka a {
    color: aquamarine;
    font-size: 1rem;
}

.videofon {
    display: flex;
    justify-content: center;
}

h2 {
    color: white;
    font-size: 2.625rem;
    font-weight: 300;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

h3 {
    font-size: 1.3125rem;
    color: gray;
    padding-bottom: 1rem;
}

.phone {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

h4 {
    font-size: 1.3125rem;
    color: gray;
    padding-bottom: 1rem;
    text-align: right; 
    padding-top: 2rem;
}